@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* confirmed accessibility with #34462e */
    color: white;
    font-family: "Libre Baskerville", serif;
}
/* GLOBAL */
body{
    /* First test of color, BUT I like it and confirmed accessibility with WebAim contrast checker */
    background-color: #34462e;
}

h1, h2{
    font-family: 'Rubik Dirt', system-ui;
    font-weight: 300;
}
/* /GLOBAL */

/* TOOLS CLASS */
.flex-row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.flex-row-start-center-15, .flex-row-start-center-30{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.flex-row-start-center-30{
    gap: 30px;
}

.logo{
    border-radius: 50%;
    transition: 0.8s;
}

.logo:hover{
    filter:drop-shadow(0 0 10px #fff);
    transform: scale(1.1);
}

.btn-text-white{
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
}

.btn-text-white:hover{
    /* confirmed accessibility with #34462e */
    border-bottom-color: #B3E1F9;
}

.active{
    /* confirmed accessibility with #34462e */
    border-bottom-color: #fff;
}
/* /TOOLS CLASS */