/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

/* CSS IMPORT */
@import './layout/footer/footer.css';
@import './layout/footer/footer-mobile.css';
@import './layout/header/header.css';
@import './layout/header/header-mobile.css';

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* confirmed accessibility with #34462e */
    color: #fff;
    font-family: "Libre Baskerville", serif;
}
/* GLOBAL */

*:focus{
    box-shadow: 0 0 10px #fff;
    outline: 3px solid #A02C2C;
    /* outline: 4px dashed #A02C2C; */
}

html{
    overflow-x: clip;
    scroll-behavior: smooth;
}

body{
    /* First test of color, BUT I like it and confirmed accessibility with WebAim contrast checker */
    background: linear-gradient(80deg,#2b4657, #34462e);
}

h1, h2{
    font-family: 'Rubik Dirt', system-ui;
    font-weight: 300;
}

a{
    text-decoration: none;
}

main{
    min-height: 100vh;
}

sup{
    font-size: 0.7em;
}

p{
    line-height: 2em;
}

.section-title{
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
}

.fixed-background-header{
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: linear-gradient(145deg,#2b4657, #34462e);
    background-size: 100% 100%;
    backdrop-filter: blur(150px);
    z-index: 3;
}

@media only screen and (max-width: 426px) {
    .fixed-background-header{
        height: 99px;
    }
}
/* /GLOBAL */

/* TOOLS CLASS */
/* TEXT */
.text-end{
    text-align: end;
}

.text-start{
    text-align: start;
}
/* PADDING */
.p-30{
    padding: 30px;
}

.pt-25{
    padding-top: 25px;
}

.pt-50{
    padding-top: 50px;
}

.pt-150{
    padding-top: 150px;
}

.pt-175{
    padding-top: 175px;
}

.px-30{
    padding-left: 30px;
    padding-right: 30px;
}

.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pb-30{
    padding-bottom: 50px;
}

/* LOGO */
.logo{
    border-radius: 50%;
    transition: 0.8s;
}

.logo:hover{
    filter:drop-shadow(0 0 10px #fff);
    transform: scale(1.1);
}

/* BTN */
/* https://github.com/Ymeh-Git/btn-linear-gradient */
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;

    font-size: 1.2em;
    font-family: sans-serif;
    text-decoration: none;
    
    border-radius: 15px;
    border: 2px solid transparent;
    
    color: #fff;
    
    background: linear-gradient(145deg,#2b4657 30%, #ffaf1b 50% , #34462e 70%);
    background-size: 300% 300%;
    background-position: 5% 50%;
    
    cursor: pointer;
    
    transition: all 0.2s ease-out; 
}

.btn:hover{
    background-position: 95% 50%;
    border-color: #fff;
}

.btn-text-white{
    padding: 5px;
    color: white;
    border: 2px solid transparent;
    transition: border-bottom-color 0.5s;
}

.btn-text-white:hover{
    /* confirmed accessibility with #34462e */
    border-bottom-color: #B3E1F9;
}

.active{
    /* confirmed accessibility with #34462e */
    border-bottom-color: #fff;
}

.italic{
    font-style: italic;
    text-decoration: underline;
    font-size: 0.8em;
}

.underline{
    text-decoration: underline;
}
/* /TOOLS CLASS */

/* MODALS */

html:has(.overlay:target){
    overflow-y: hidden;
    scroll-behavior: auto;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100vw;
}


.overlay:target{
    visibility: visible;
    opacity: 1;
}

.modal{
    height: 100%;
    width: 100%;
    padding: 50px;

    background-color: #fffeea;
    color: black;

    position: relative;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modal p{
    color: black;
}

.modal h2{
    width: 90%;
    text-align: center;
    color: black;
    font-size: 2em;
}

.modal h3{
    color: black;
}

.modal .close{
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 0.8;
    font-size: 3em;
    border-radius: 20px;
    text-decoration: none;
    transition: all 200ms;
    color: black;
    transition: 1s all ease;
}

.modal .close:hover{
    transform: rotate(360deg);
    color: #A02C2C;
}

.modal-content{
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modal-prevention{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 50%;
    gap: 30px;
    padding: 20px;
}

.modal-prevention .modal-image-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.modal-prevention .modal-image-text img{
    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.modal-prevention .modal-image-text p{
    text-align: start;
}

.modal-content form{
    width: 50%;
    padding: 20px;
}

.modal-content form label{
    color: black;
}

.modal-content form:has(:not(.input-check:checked)) .btn-next{
    display: none;
}

.modal-content form:has(.input-check:checked) .btn-next{
    display: block;
}

.btn-close{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
    font-size: 1.2em;
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    border: 2px solid transparent;

    background: linear-gradient(145deg,#A02C2C 30%, #ffaf1b 50% , #fff42a 70%);
    background-size: 300% 300%;
    background-position: 5% 50%;
    transition: all 0.2s ease-out; 
}

.btn-close:hover, .btn-close:focus{
    background-position: 95% 50%;
    color: #000;
    border-color: #000;
}

.btn-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 0;
}


.modal-content .modal-prevention .message-urgent{
    width: 100%;
    background-color: #ffe8e8;
    border: 2px solid #ff0000;
    border-radius: 15px;
    color: red;
    padding: 15px 30px;
    text-align: center;
}

.nav-modal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

@media only screen and (max-width: 426px) {
    *{
        font-size: 14px;
    }

    .btn, .btn-close{
        padding: 10px 40px;
    }

    .modal{
        padding: 30px;
    }

    .modal-prevention{
        padding: 0;
    }
    .modal-prevention, .modal-content form{
        width: 100%;
    }
}