/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

/* CSS IMPORT */
@import './layout/footer/footer.css';
@import './layout/footer/footer-mobile.css';
@import './layout/header/header.css';
@import './layout/header/header-mobile.css';

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* confirmed accessibility with #34462e */
    color: #fff;
    font-family: "Libre Baskerville", serif;
}
/* GLOBAL */

*:focus{
    outline: 2px dashed red;
    border-radius:15px;
}

html{
    scroll-behavior: smooth;
}

body{
    /* First test of color, BUT I like it and confirmed accessibility with WebAim contrast checker */
    background-color: #34462e;
}

h1, h2{
    font-family: 'Rubik Dirt', system-ui;
    font-weight: 300;
}

a{
    text-decoration: none;
}

main section{
    min-height: 100vh;
}

.section-title{
    font-size: 2em;
}
/* /GLOBAL */

/* TOOLS CLASS */
/* TEXT */
.text-end{
    text-align: end;
}
/* PADDING */
.p-30{
    padding: 30px;
}

.pt-175{
    padding-top: 175px;
}

.px-30{
    padding-left: 30px;
    padding-right: 30px;
}

.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pb-30{
    padding-bottom: 50px;
}

/* FLEXBOX */
/* ROW */
.flex-row, .flex-row-15, .flex-row-30{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.flex-row-15{
    gap: 15px;
}

.flex-row-30{
    gap: 30px;
}

.flex-row-reverse, .flex-row-reverse-15, .flex-row-reverse-30{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: stretch;
}

.flex-row-reverse-15{
    gap: 15px;
}

.flex-row-reverse-30{
    gap: 15px;
}

.flex-row-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.flex-row-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.flex-row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.flex-row-start-center,.flex-row-start-center-15, .flex-row-start-center-30{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-start-center-15{
    gap: 15px;
}

.flex-row-start-center-30{
    gap: 30px;
}

.flex-row-center-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* ROW-WRAP */
.flex-wrap-row-around-rg-150{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: stretch;
}
/* COLUMN */
.flex-column-center-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-column, .flex-column-15, .flex-column-30{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.flex-column-15{
    gap: 15px;
}

.flex-column-30{
    gap: 30px;
}

.flex-column-start-start, .flex-column-start-start-15, .flex-column-start-start-30{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-column-start-start-15{
    gap: 15px;
}

.flex-column-start-start-30{
    gap: 30px;
}

.flex-column-center-center, .flex-column-center-center-15, .flex-column-center-center-30{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-center-center-15{
    gap: 15px;
}

.flex-column-center-center-30{
    gap: 30px;
}

.flex-column-end-center, .flex-column-end-center-15{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.flex-column-end-center-15{
    gap: 15px;
}
/* BLOCK */
.block{
    display: inline;
}

/* LOGO */
.logo{
    border-radius: 50%;
    transition: 0.8s;
}

.logo:hover{
    filter:drop-shadow(0 0 10px #fff);
    transform: scale(1.1);
}

/* BTN */
/* https://github.com/Ymeh-Git/btn-linear-gradient */
.btn{
    padding: 10px 30px;
    
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    border: 2px solid transparent;

    background: linear-gradient(145deg,#2b4657 30%, #ffaf1b 50% , #34462e 70%);
    background-size: 300% 300%;
    background-position: 5% 50%;
    transition: 
    background-position 0.8s,
    border-color 1s ease-in;
}

.btn:hover{
    background-position: 95% 50%;
    border-color: #fff;
}

.btn-text-white{
    padding: 5px;
    color: white;
    border: 2px solid transparent;
    transition: border-bottom-color 0.5s;
}

.btn-text-white:hover{
    /* confirmed accessibility with #34462e */
    border-bottom-color: #B3E1F9;
}

.active{
    /* confirmed accessibility with #34462e */
    border-bottom-color: #fff;
}
/* /TOOLS CLASS */