header{
    position: absolute;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-title{
    /* To match with gap in */
    margin-bottom: 30px;
}

.horaire{
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

/* ASIDE NAV */
.aside-nav{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 95%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 200px;
    padding: 15px 50px 15px 0;

    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    
    transform: translateX(30px);
    transition: 1s;
}

.aside-nav-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: black;
    font-size: 1.2em;
}

.aside-nav:hover, .aside-nav:has(a:focus){
    transform: translateX(-100px);
}

.aside-nav-text p{
    color: black;
}

.aside-nav-btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

.aside-nav a{
    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    transition: 1s;
}

.aside-nav a img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

/* NAV BELOW HEADER */
.section-nav{
    padding-top: 160px;
    padding-bottom: 15px;
    width: 100%;
    background: linear-gradient(145deg,#2b4657, #34462e);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}

.section-nav a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    transition: 1s;
}

.section-nav a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.section-nav a:hover, .aside-nav-btn a:hover{
    box-shadow: 0 0 10px white;
    background-color: #5287a8;
}

.section-nav-btn-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-nav-btn-text p{
    font-size: 0.8em;
}

/* SECTIONS */

.section-activite{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    width: 100%;
    min-height: 100vh;
    padding: 40px;
}

.section-activite-logo{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

.prevention{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.prevention img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    object-fit: cover;
}

.prevention, .text-lien{
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.text-lien{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    gap: 30px;
    padding: 45px;
    line-height: 1.5em;
}

.text-lien{
    text-align: center;
}

.text-lien .lien{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.to-top{
    display: none;
}

.form-resa{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;
    width: 50%;
}

.form-resa .form-input{
    background-color: #242424;
    border-color: #fff;
}

.form-resa .form-input{
    padding: 5px;   
    border-radius: 5px;
}

.condition{
    text-decoration: underline;
}

.overlay-resa-accepted{
    position: fixed;
    bottom: 2%;
    right: 5%;
    z-index: 999;
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    height: 120px;
    width: 250px;
    transform: translateX(200%);
}

.overlay-resa-accepted:target{
    visibility: visible;
    opacity: 1;
    animation: 
    pop-scroll 1.5s linear forwards,
    fade 1s 5s linear forwards;
}

.modal-resa-accepted{
    height: 100%;
    width: 100%;
    padding: 5px;

    background-color: #c2ffbd;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    border-radius: 20px;
}

.modal-resa-accepted p{
    color: green;
    width: 70%;
    margin-right: 15px;
    font-size: 0.8em;
    text-align: center;
}

.modal-resa-accepted .close{
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 0.8;
    font-size: 3em;
    border-radius: 20px;
    text-decoration: none;
    transition: all 200ms;
    color: rgb(32, 103, 31);
    transition: 1s all ease;
}

.modal-resa-accepted .close:focus, .modal-resa-accepted .close:hover{
    transform: rotate(360deg);
    color: #A02C2C;
}


@keyframes pop-scroll {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade {
    0%{
        opacity: 0.8;
    }

    50%{
        transform: scale(0.8);
        opacity: 0.5;
    }
    100%{
        transform: scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
}