/* HOMEPAGE (ACCUEIL) MOBILE */
@media only screen and (max-width: 426px) {
    .hero{
        display: none;
    }

    .ecosysteme article{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 30px;

        text-align:start;
    }
    .ecosysteme-img{
        align-self: center;
    }
    
    .ecosysteme-text h3{
        text-align: center;
    }

    .card-background-img{
        z-index: -1;
    }
    
    .card-title{
        z-index: 2;
        top: 0;
    }
}