/* <HEADER> */
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 150px;
    padding: 10px 30px;
    gap: 15px;
    backdrop-filter: blur(5px);
    background: transparent;
    /* This way it will be above everyone else */
    z-index: 3;
}

/* LOGO */
.header-name-logo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.header-name-logo .header-logo{
    width: 75px;
    height: 75px;
}

/* NAME AND INTRO */
.name-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.header-name-logo .name-intro h1{
    font-size: 1.2em;
}

.header-name-logo .name-intro p{
    font-size: 0.8em;
    width: 100%;
}

/* NAV-BAR */
.header-nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-nav a{
    flex-grow: 1;
    flex-basis: 0;
}

header label,
#burger-menu-input{
  display: none;
}

.burger-menu-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
/* </HEADER> */
