@media only screen and (max-width: 426px) {

    .footer{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }

    .footer-logo{
        order: 1;
    }

    .contact{
        order: 2;
        /* To force contact/reseau to align themselves */
        width: 250px;
    }

    .reseau{
        order: 3;
        width: 250px;
    }
}